@import "tailwindcss";

.backgroundStyles{
    background-image: url('/fondo.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}