@import "tailwindcss";

.backgroundStyles {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;

  position: relative;
}

.blurEffect {
  position: absolute;
  inset: 0;
  backdrop-filter: blur(15px) contrast(1.5) saturate(0.9) brightness(0.65);
}

.backgroundStyles > * {
  z-index: 0;
}
